@page
@{
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">tiempo estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bogota</td>
      <td>Armenia</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Armenia</td>
      <td>Bogota</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bogota</td>
      <td>Bucaramanga</td>
      <td>4</td>
    </tr>
  </tbody>
</table>
