@page
@{
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
      <th scope="col">País</th>
      <th scope="col">Coord_x</th>
      <th scope="col">Coord_y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>El dorado</td>
      <td>Bogota</td>
      <td>Colombia</td>
      <td>40</td>
      <td>40</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Palonegro</td>
      <td>Bucaramanga</td>
      <td>Colombia</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>El Eden</td>
      <td>Armenia</td>
      <td>Colombia</td>
      <td>60</td>
      <td>60</td>
    </tr>
  </tbody>
</table>
